{{/* Credits and Copyright */}}
{{ if (default true .Site.Params.ShowFooterCredits) }}
  <span class="text-small text-gray">
    {{ with .Site.Copyright }}{{ . | markdownify }} &middot; {{ end }}

    Wheelbarrowguide.com is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.co.uk.
  </span>

  <link rel="stylesheet" href="/my_css/cookie.css" />

{{ end }}
