<center><a href="/"><img src="{{ "https://i.ibb.co/rQf8d87/wheelbarrow-guide-logo2-removebg-preview.png" | absURL }}" alt="wheelbarrowguide.com">
<nav class="UnderlineNav UnderlineNav--right px-2">
  <a class="UnderlineNav-actions muted-link h2" href="{{ .Site.BaseURL }}">
  {{ $currentPage := . }}
  {{ with .Site.Menus.main }}
  <div class="UnderlineNav-body">
    {{ range sort . }}
    {{ if .HasChildren }}
    <div class="flex-column position-relative dropdown" >
      {{ .Pre }}
      <span class="UnderlineNav-item{{ if eq $currentPage.RelPermalink (relURL .URL) }} selected{{ end }}">{{ .Name }}</span>
      <div class="Box Box--condensed position-absolute dropdown-content ">
        {{ range .Children }}
        <div class="Box-body" style="">
          <a href="{{ .URL }}">
            {{ .Name }}
          </a>
        </div>

        {{ end }}
      </div>
    </div>
    {{ else }}
    <!-- .URL -->
    <a class="UnderlineNav-item{{ if eq $currentPage.RelPermalink (relURL .URL) }} selected{{ end }}" href="{{ .URL }}">
      {{ .Pre }}
      <span>{{ .Name }}</span>
    </a>
    {{ end }}
    {{ end }}
  </div>
  {{ end }}
</nav>
