
<!-- categories -->
{{ with .Params.Categories }}{{ range . }}
<a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}' class="muted-link">
  <span class="Label Label--gray-darker">{{ . }}</span>
</a>
{{ end }}{{ end }}
<!-- tags -->
{{ with .Params.Tags }}{{ range . }}
<a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}' class="muted-link">
  <span class="Label Label--gray">{{ . }}</span>
</a>

<!--added cros code -->
{{ range $section, $taxonomy := .Site.Sections }}
    <h4>{{ $section }}</h4>
    <ul>
        {{ range $taxonomy.Pages }}
        <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
        {{ end }}
    </ul>
{{ end }}

{{ end }}{{ end }}
